<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS 2</title>
    <link rel="stylesheet" href="../Assets/css/css2.css">
</head>
<body>

<p class="green">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis justo quam, nec varius purus feugiat non. Donec ac mi non mi malesuada volutpat sed vitae elit. Ut quis enim at sem gravida mattis ut nec erat. Aliquam nec hendrerit est, ut finibus massa. Vivamus ullamcorper imperdiet pellentesque. Praesent eget velit vel augue egestas fringilla. Donec orci velit, posuere eu posuere id, tincidunt et nisi.</p>

<p class="blue">Quisque commodo ligula metus, a mollis erat lacinia vitae. Etiam ante diam, porttitor tempus nulla eget, fermentum pulvinar est. Proin tincidunt lacus elementum nisi sagittis, mollis pretium ante volutpat. Nunc mattis euismod turpis ac mattis. Duis molestie, diam at ultrices ultrices, ipsum mi euismod neque, eget scelerisque dui diam in turpis. Vivamus interdum quam at laoreet dignissim. Curabitur nec pulvinar odio, vitae convallis diam.</p>

<p class="yellow">Nullam vehicula neque turpis, ut lobortis lorem porta et. Integer id aliquam eros. Donec et nunc non nunc imperdiet luctus in pulvinar nunc. Nulla tortor libero, suscipit eu laoreet a, volutpat sit amet sapien. Morbi blandit ut metus nec bibendum. Aenean elementum lacinia luctus. Nullam posuere consectetur porta. Quisque sit amet malesuada massa. </p>

<h2>Moraleja: Nuestros sueños y planes no deben
    apartarnos de la realidad</h2>

<h2 id = "titulo2" > Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</h2>

</body>
</html>