<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Ejercicios Funciones de Texto</title>
	<link href="../../../Downloads/ejercicio1_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../Assets/css/estilos1.css">
</head>
<body>

<div class="container-fluid">
	<div class="row">
	<div class="ejercicios col-md-2 min-vh-100">

		<img src="ejercicio1_files/js.png" class="img-fluid">
		
		<div class="d-grid gap-2">
		  <a class="btn btn-primary" href="https://e-aulas.urosario.edu.co/pluginfile.php/3012814/mod_resource/content/0/ejercicio1.html" role="button">Ejercicio 1</a>
		  <a class="btn btn-warning" href="https://e-aulas.urosario.edu.co/pluginfile.php/3012814/mod_resource/content/0/ejercicio2.html" role="button">Ejercicio 2</a>
		  <a class="btn btn-primary" href="https://e-aulas.urosario.edu.co/pluginfile.php/3012814/mod_resource/content/0/ejercicio3.html" role="button">Ejercicio 3</a>
		  <a class="btn btn-warning" href="https://e-aulas.urosario.edu.co/pluginfile.php/3012814/mod_resource/content/0/ejercicio4.html" role="button">Ejercicio 4</a>
		</div>	
	</div>
 
	<div class="resultado col-md-10">
	<h1>Funciones de Texto</h1>	
	<div class="card" style="width: 18rem; margin: 100px auto;">  
	  <div class="card-body">
	    
	  			
		<form>
			<div class="mb-3">
		    	<label for="palabra" class="form-label">Ingresa una palabra</label>
		    	<input type="text" class="form-control" id="palabra">
		    	
		  	</div>
		  	
		  	<div class="d-grid gap-2">
	  			<button class="btn btn-primary" type="submit" onclick="longitud()">Longitud</button>
	  			<button class="btn btn-primary" type="submit" onclick="mayusculas()">Mayúsculas</button>
	  			<button class="btn btn-primary" type="submit" onclick="minusculas()">Minúsculas</button>
	  			<button class="btn btn-primary" type="submit" onclick="primercar()">Primer Caracter</button>
	  			
			</div>	
		  	
		</form>

	   </div>
	</div>
</div>
</div>



<script src="../../../Downloads/ejercicio1_files/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="../../../Downloads/ejercicio1_files/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script type="text/javascript" src="../Assets/js/ejercicio1.js"></script>

</div></body></html>