<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fábula de Esopo: La lechera y su cántaro</title>
    <link rel="stylesheet" type="text/css" href="../Assets/css/stylefabula.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="title">La lechera y su cántaro</h1>
        <h3 class="subtitle">Fábula de Esopo</h3>
    </div>

    <div class="image-container">
        <p>
            <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp" alt="Ilustración de la fábula">
            Figura 1: La lechera y el cántaro
        </p>
    </div>
    <div class="content">
        <p>
            Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo. Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta:
        </p>
        <p>
            —Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo.
        </p>
        <p>
            Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.
        </p>
    </div>

    <div class="footer">
        <p class="moraleja">Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad.</p>
    </div>
</div>
</body>
</html>
