<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario Escolar</title>
    <style>
        body {
            text-align: center;
        }
        th, td {
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h1 align="left">Horario</h1>
<table>
    <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr>
        <td>7:00 am - 8:00 am</td>
        <td rowspan="2">Capstone</td>
        <td rowspan="6"> Libre</td>
        <td rowspan="4">Libre</td>
        <td rowspan="6">Libre</td>
        <td rowspan="4">Libre</td>
    </tr>
    <tr>
        <td>8:00 am - 9:00 am</td>
    </tr>
    <tr>
        <td>9:00 am - 10:00 am</td>
        <td rowspan="8">Libre</td>
    </tr>
    <tr>
        <td>10:00 am - 11:00 am</td>
    </tr>
    <tr>
        <td>11:00 am - 12:00 pm</td>
        <td rowspan="2">Desarrollo web</td>
        <td rowspan="2">Desarrollo web</td>
    </tr>
    <tr>
        <td>12:00 pm - 1:00 pm</td>
    </tr>
    <tr>
        <td>1:00 pm - 2:00 pm</td>
        <td rowspan="2">Análisis avanzado de datos</td>
        <td rowspan="4">libre</td>
        <td rowspan="2">Análisis avanzado de datos</td>
        <td rowspan="4">libre</td>
    </tr>
    <tr>
        <td>2:00 pm - 3:00 pm</td>
    </tr>
    <tr>
        <td>3:00 pm - 4:00 pm</td>
        <td rowspan="2">Electiva</td>
        <td rowspan="2">Libre</td>
    </tr>
    <tr>
        <td>4:00 pm - 5:00 pm</td>
    </tr>
</table>
</body>
</html>
