<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buñuelos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        header {
            background-color: #ff6600;
            color: #fff;
            text-align: center;
        }

        p {
            font-size: 18px;
        }

        img {
            max-width: 50%;
        }
    </style>
</head>
<body>
<header>
    <h1>Buñuelos y Buñuelos Rellenos</h1>
</header>
<div>
    <h2>¿Qué son los buñuelos?</h2>
    <p>Los buñuelos son deliciosos postres fritos que se disfrutan en muchas culturas de todo el mundo. Se hacen típicamente con masa de harina, huevos, azúcar y otros ingredientes, y se fríen hasta que estén dorados y crujientes. Los buñuelos pueden ser dulces o salados, y a menudo se sirven espolvoreados con azúcar en polvo o bañados en jarabe.</p>
    <img src="../Assets/img/buñuelo1.jpg" alt="Buñuelos">

    <h2>Buñuelos Rellenos</h2>
    <p>Los buñuelos rellenos son una variante deliciosa de los buñuelos tradicionales. En lugar de ser simples, estos buñuelos se llenan con una variedad de rellenos deliciosos. Algunos ejemplos populares de rellenos para buñuelos incluyen:</p>
    <ul>
        <li>Crema pastelera</li>
        <li>Chocolate derretido</li>
        <li>Mermelada de frutas</li>
        <li>Nutella</li>
        <li>Queso crema</li>
        <li>Manzanas caramelizadas</li>
    </ul>
    <p>Los buñuelos rellenos son una delicia dulce que se disfruta en muchas ocasiones especiales y festividades.</p>
    <img src="../Assets/img/buñuelo2.jpg" alt="Buñuelos Rellenos">

    <h2>Disfruta de la Delicia</h2>
    <p>Los buñuelos y los buñuelos rellenos son un verdadero placer para el paladar. Su textura crujiente por fuera y su suavidad por dentro los hacen irresistibles. Ya sea en un desayuno especial, un postre delicioso o en cualquier ocasión, estos dulces fritos son una elección deliciosa.</p>
</div>
</body>
</html>
