<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros Salchicha</title>
    <style>
        body {
            font-family: Arial, sans-serif;

        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
        }

        img {
            max-width: 50%;

        }

        h1,
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <h1>Perros Salchicha</h1>
</header>
<div>
    <h2>Información sobre los Perros Salchicha</h2>
    <p>El perro salchicha, también conocido como dachshund, es una raza de perro de origen alemán. Son conocidos por su cuerpo alargado y sus patas cortas. Son cariñosos, leales y excelentes mascotas para familias.</p>
    <p>Características principales:</p>
    <ul>
        <li>Cuerpo alargado</li>
        <li>Patitas cortas</li>
        <li>Pelaje variado: puede ser de pelo largo, pelo corto o pelo duro</li>
        <li>Personalidad cariñosa y juguetona</li>
    </ul>
    <h2>Imagen de un Perro Salchicha</h2>
    <img src="../Assets/img/imagen1.jpg" alt="Perro Salchicha">

    <h2>Temperamento</h2>
    <p>Los perros salchicha son conocidos por ser afectuosos y valientes. A menudo son leales a sus dueños y pueden ser buenos perros guardianes debido a su naturaleza alerta.</p>

    <h2>Cuidados</h2>
    <p>Para mantener a un perro salchicha sano y feliz, es importante proporcionarle:</p>
    <ul>
        <li>Alimentación equilibrada y adecuada a su tamaño y edad</li>
        <li>Ejercicio diario para mantener su forma física</li>
        <li>Atención a su salud bucal y dental</li>
        <li>Afecto y socialización</li>
    </ul>
    <h2>Adopción</h2>
    <p>Si estás interesado en adoptar un perro salchicha, puedes buscar en refugios locales o contactar con criadores responsables. Recuerda siempre considerar la adopción como una opción para darle un hogar a un perro necesitado.</p>
</div>
</body>
</html>
