body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img {
    height: 300px;
}


footer {
    color: #fff;
}

i {
    font-size: 24px;
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}

.navbar-brand img {
    margin-right: 20px;
}

.carousel {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-item img {
    width: 50%;
    height: auto;
}
p{
    font-size: 18px;
}

.form-inline{
    margin-left: 50px;
}


h2{
    background-color:lightskyblue;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
}

h3{
    background-color:lightskyblue;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
}

.custom-navbar-bg {
    background-color: lightskyblue;
}