@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,500&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Muli', sans-serif;
}

.titulo{
    margin: 20px auto;
}

.titulo h1{
    color:  #fff;
    text-shadow: 0px 0px 10px #ff0000;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    margin-left: 30px;
}



.contenido{
    width: 1000px;
    margin: 30px auto;
}

.contenido h2{
    font-family: 'Fredoka One', cursive; ;
}

.personaje{
    width: 800px;
    background: linear-gradient(#F9A9FB,#F9D3FA);
    margin: 20px 0 ;
    padding: 30px;
    box-shadow: 3px 3px 7px #999999;
    font-family: 'Muli', sans-serif;
    height: 150px;
}

.personaje img{
    width: 150px;
    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.personaje h2{
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
}

.personaje p{
    text-align: justify;
}

.contenido ul{
    list-style-type: none;
    margin-top: 20px;
}

.contenido li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.contenido li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.boton{
    background-color: blue;
    color: white;
    padding: 20px 20px;
    width: 120px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: #999999;
}

.boton a {
    color: white;
    text-decoration: none;
}

.boton:hover {
    background-color: red;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.titulo img{
    width: 150px;
    transform: translate(900px);
    transition-duration: 6s;
}

.titulo h1 {
    transform: translateX(265px);
    transition: transform 0.1s linear 1s;
}

 .personaje img:hover{
     transform:rotate(-30deg) scale(1.1);
     transition: transform 2s linear 1s
 }

 .cajaprincipal{
     width: 270px;
     height: 350px;
     background-color: #000000;
     color: #ffffff;
     margin: 20px auto;
     text-align: center;
     box-shadow: 0 0 20px #000000;
     overflow: hidden;

 }

 .encabezado{
     background-color: white;
     color: black;
     font-family: 'Fredoka One', cursive;
     padding: 20px 0;
 }

 .cajaperfil{
     width: 540px;
 }

 .cajaperfil:hover{
     transform: translateX(-270px);
     transition: transform 1s linear 1s;
 }

 .foto, .header2{
     width: 270px;
     text-align: center;
     margin: 20px 0;
     float: left;
 }